body{
background-image: url("../img/return-of-the-padawan-star-wars-jedi-academy-2.jpg");
background-size: 30%;
margin: 0;
padding: 0;
}

#iframe{
  background-color: aquamarine;
  padding: 1rem;

}

#form{
  background-color: bisque;
  flex-direction: column;
  text-align: center;
  height: 130px;
  width: 200px;
}
